@import "tailwindcss";

@theme {
  /* Definición de la fuente Sansation */
  --font-sans: "Sansation", ui-sans-serif, system-ui;

  /* Definición de tus colores personalizados */
  --color-neon-red: #ff0000;
  --color-dark-bg: #050505;
  --color-card-bg: #121212;
}

/* Forzar el fondo oscuro en todo el sitio */
@layer base {
  html,
  body {
    @apply bg-dark-bg text-white antialiased;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
}
